*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }
 
 .button{
     font-size: 20px;
     background-color: #4CAF50;
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 5px 40px;
     cursor: pointer;
   }
   
 
 ul{
     display: flex;
     justify-content: space-around;
     align-items: center;
     background: black;
     height: 50px;
     
 }
 li{
     list-style: none;
     font-size: 30px;
     
 }
 li a{
     color: white;
     text-decoration: none;
 }
 .container{
     display: grid;
     grid-template-columns: 500px 500px 500px;
     grid-template-rows:  350px 350px 350px;
     background: white;
     align-items: center;
     justify-content: center;
     height: 1800px;
     grid-row-gap: 3px;
     grid-column-gap: 20px;
     padding: 0 0 0 110px;
     width: 100vw;
     height: 100vh;
 
 }
 a{
     text-decoration: none;
 }
 .item1{
     /*background: url(images/boy1.jpeg);*/
     
     
     height: 250px;
     
 }
 .img1{
     height: 450px;
     width: 300px;
 }
 .img2{
     height: 450px;
     width: 300px;
 }
 .img3{
     height: 450px;
     width: 300px;
 }
 .img4{
     height: 450px;
     width: 300px;
 }
 .img5{
     height: 450px;
     width: 300px;
 }
 .img6{
     height: 450px;
     width: 300px;
 }
 .item2{
     /*background: red;*/
     height: 250px;
 }
 .item3{
    /* background: blue;*/
     height: 250px;
 }
 .item4{
     /*background: pink;*/
     height: 250px;
     margin-top: 420px;
 
 }
 .item5{
     /*background: black;*/
     height: 250px;
     margin-top: 420px;
 }
 .item6{
     /*background: royalblue;*/
     height: 250px;
     margin-top: 420px;
     
 }
 
 h2{
     text-align: center;
     font-size: 50px;
     background: blue;
     color: white;
     box-sizing: border-box;
 }
 .item7{
     height: 250px;
     margin-top: 850px;
     
 }
 .item8{
     height: 250px;
     margin-top: 850px;
     
 }
 .item9{
     height: 250px;
     margin-top: 850px;
     
 }
 .th1{
     margin-left: 75px;
     
 }
 .fh1{
     margin-left: 80px;
 }
 .jh1{
     margin-left: 80px;
 }
 .mh1{
     margin-left: 80px;
 }
 .sh1{
     margin-left: 80px;
 }
 .dh1{
     margin-left: 80px;
 }
 .gh1{
     margin-left: 80px;
 }
 .sph1{
     margin-left: 80px;
 }
 /* footer */
 .footer{
     display: flex;
     margin-top: 800px;
     background:black;
        color:white;
        height:400px;
        width:1450px;
        margin-bottom: 0px;
        

 }
 .aboutus{
    font-size:30px;
    margin-left:30px;
}
.quickl{
    font-size:30px;
    margin-left:200px;
    


}
.contact{
    font-size:30px;
    margin-left:30px;
    
}
h4{
    font-size: 50px;
    color: yellow;
    
}
.fhc{
    font-size: 40px;
    margin-top: 170px;
    margin-right: 5px;
    color: white;
}
.add{
    font-size: 40px;
    color: white;
}
.about{
    font-size: 30px;
    color: white;
}
.phone{
    font-size: 30px;
    color: white;
}
