*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.parent{
    width: 100vw;
    height: 120%;
    background:cyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    height: 900px;
    width: 800px;
    background: black;
    

}
h1{
    text-align: center;
}
label{
    color: white;
    font-size: 30px;
    width: 100%;
    display: grid;
    margin-left: 30px;
    margin-top: 10px;
    text-align: center;

}
input{
    width: 60%;
    height: 30px;
    margin-left: 140px;
}
.submit{
    width:25%;
    margin-left: 340px;
}
.imgdata{
    color: white;
}